RewriteEngine On
RewriteBase /

# 1. Bỏ qua các quy tắc bên dưới nếu đây là file hoặc thư mục có thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 2. Quy tắc tổng quát: Tự động thêm đuôi .php
RewriteRule ^([^\.]+)$ $1.php [NC,L]
